body {
    background-color: whitesmoke;
    margin-left: 70px;
  }
  
  h1,
  h2,
  h3  {
    text-align: center;
  }
  
  p{
    font-family: verdana;
    font-size: 25px;
    margin-left: 70px;
  }